{% extends('@EshopUser/membrelayoutss.html.twig') %}
{% block c %}
<div id="home-slider">

    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-3 slider-left"></div>

            <div class="homeslider">

                <div class="box-border">
                    <div class="row">
{{ form(form) }}



                        {{ form_end(form) }}


                    </div>
                </div>

            </div>
        </div>
    </div>


    {% endblock %}


